body{
	background-color: rgba(104,53,132,0.65);
}

.center{
	display: block;
	margin: 0 auto;
	position: relative;
	overflow: auto;
}

.table{
	margin:auto 15%;
	padding: 8px;
	border-spacing: 8px;
}

.table td{
	width: 350px;
	text-align: center;
}

.table img{
	border-radius: 150px;
	width: 100%;
	height: 150px;
}

#complogo {
	margin-top: 20px auto;
}